/*
 * Base structure
 */

 /* Extra small devices (phones, less than 768px) */
 /* No media query since this is the default in Bootstrap */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: #333;
  color: white;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
  padding-top: 0;
}

.cover {
  padding: 0 20px;
}

.cover.btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

/*set search selection dropdown to display: none*/
#search_menu_button {
  display: none;
}

/*Question mark button on main page*/

.btnHelp {
  background-color: white;
  border: 1px solid #57585A;
  border-radius: 4px;
  padding: 1px 9px;
}

/*user added styles*/

.subtitle {
  margin: 0;
  margin-top: 5px;
}

#helpRptBtn {
  position: inherit;
  max-width: 150px;
  pointer-events: none;
  cursor: default;
}

.subtitle small {
  color: #ddd;
  font-style: italic;
}

.step {
  font-size: 1.125em;
}

.horiz-line {
  height: 1px;
  background-color: #ddd;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.divider-text {
  background-color: #333;
  position: relative;
  top: -0.75em;
  padding: 5px;
}

#xingImg {
  max-height: 50px;
}


/*End extra small devices*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .masthead-brand {
    font-size: 40px;
  }

  .mastfoot {
  position: fixed;
  bottom: 10%;
}

  .subtitle {
    font-size: 28px;
  }

  .step {
    font-size: 26px;
    line-height: 50px;
  }

  .inner.cover p,
  .inner.cover li,
  .divider-text {
    font-size: 18px;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 70%; /* Must be percentage or pixels for horizontal alignment */
  }

  .gotit a {
    margin: 30px;
    font-size: 1.75em;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
