#legend {
  display: none;
}


/*Hides Rail Trails and TSRR (I couldn't figure out how to display only some of the symbology classes)*/
#legendDiv_rail-line tr:nth-child( 1n+9 ) {
  display: none;
}

#legendDiv_crossing-points_1 .esriLegendLayer:last-child {
  display: none;
}


#legendDiv_sign-points_0 tr {
  display: none;
}

#legendDiv_sign-points_0 tr:nth-child( 1 ) {
  display: table-row;
}
#legendDiv_sign-points_0 tr:nth-child( 5 ) {
  display: table-row;
}
/*#legendDiv_sign-points_0 tr:nth-child( 6 ) {
  display: table-row;
}*/
#legendDiv_sign-points_0 tr:nth-child( 7 ) {
  display: table-row;
}
#legendDiv_sign-points_0 tr:nth-child( 16 ) {
  display: table-row;
}
#legendDiv_sign-points_0 tr:nth-child( 30 ) {
  display: table-row;
}


#legendDiv_sign-points_0 .esriLegendLayer:last-child {
  display:none;
}



@media (min-width: 992px) {
  #legend {
    display: block;
    overflow-y: auto;
    position:absolute;
    background-color: rgba(102, 102, 102, 0.8);
    /*background-color: rgba(76, 175, 80, 0.8);*/
    padding: 20px 10px 10px 10px;
    float: right;
    right: 0px;
    z-index: 1;
    width: 200px;
    height: 100%;
  }

  #legendDiv {
    top: 80px;
    color: #fff;
    padding-bottom: 25px;
    /*width: calc(190px + ((100% - 992px)/4));*/
  }
}

@media (max-width: 415px) {
  #mobileLegendButton {
    display: block;
    position: fixed;
    color: #fff;
    background-color: rgba(102, 102, 102, 0.8);
    bottom: 0%;
    height: 10%;
    width: 100%;
    z-index: 1;
  }
}
