#legend {
  display: none;
  overflow-y: auto;
  position: absolute;
  background-color: rgba(242, 241, 237, 0.85);
  float: right;
  right: 0px;
  z-index: 31;
  width: 100%;
  height: 100%;
}
#legend-div {
  top: 10px;
  color: #404040;
  top: 70px;
  width: 70%;
  left: 15%;
}
#mobile-legend-open {
  display: block;
  position: fixed;
  background-color: rgba(242, 241, 237, 0.85);
  font-size: 18px;
  bottom: 0%;
  height: 8%;
  width: 100%;
  z-index: 1;
}
#mobile-legend-close {
  display: none;
  position: fixed;
  background-color: rgba(242, 241, 237, 1);
  font-size: 18px;
  top: 0;
  height: 65px;
  width: 100%;
  z-index: 1032;
}

/*Hides Rail Trails and TSRR (I couldn't figure out how to display only some of the symbology classes)*/

#legend-div_rail-line tr:nth-child( 1n+9) {
  display: none;
}
#legend-div_crossing-points_1 .esriLegendLayer:last-child {
  display: none;
}
#legend-div_sign-points_0 tr {
  display: none;
}
#legend-div_sign-points_0 tr:nth-child( 1) {
  display: table-row;
}
#legend-div_sign-points_0 tr:nth-child( 5) {
  display: table-row;
}
#legend-div_sign-points_0 tr:nth-child( 7) {
  display: table-row;
}
#legend-div_sign-points_0 tr:nth-child( 16) {
  display: table-row;
}
#legend-div_sign-points_0 tr:nth-child( 30) {
  display: table-row;
}
#legend-div_sign-points_0 .esriLegendLayer:last-child {
  display: none;
}
@media (min-width: 768px) {
  #mobile-legend-close {
    height: 75px;
  }
  #legend-div {
    font-size: 18px;
    width: 40%;
    top: 90px;
    left: 30%;
  }
}
@media (min-width: 992px) {
  #mobile-legend-open {
    display: none;
  }
  #legend {
    display: block;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 100%;
  }
  #legend-div {
    font-size: 14px;
    top: 100px;
    left: 5%;
    width: 90%;
    padding-bottom: 25px;
  }
}
